body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:914px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:907px;
  height:565px;
}
#u3051 {
  position:absolute;
  left:0px;
  top:30px;
  width:907px;
  height:565px;
  color:#FFFFFF;
}
#u3052 {
  position:absolute;
  left:2px;
  top:274px;
  width:903px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:913px;
  height:431px;
}
#u3053 {
  position:absolute;
  left:0px;
  top:164px;
  width:913px;
  height:431px;
}
#u3054 {
  position:absolute;
  left:2px;
  top:208px;
  width:909px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3055 {
  position:absolute;
  left:248px;
  top:132px;
  width:78px;
  height:34px;
  color:#FFFFFF;
}
#u3056 {
  position:absolute;
  left:2px;
  top:9px;
  width:74px;
  word-wrap:break-word;
}
#u3057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3057 {
  position:absolute;
  left:162px;
  top:132px;
  width:86px;
  height:34px;
  color:#FFFFFF;
}
#u3058 {
  position:absolute;
  left:2px;
  top:9px;
  width:82px;
  word-wrap:break-word;
}
#u3059_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3059 {
  position:absolute;
  left:326px;
  top:132px;
  width:82px;
  height:34px;
  color:#FFFFFF;
}
#u3060 {
  position:absolute;
  left:2px;
  top:9px;
  width:78px;
  word-wrap:break-word;
}
#u3061_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3061 {
  position:absolute;
  left:408px;
  top:132px;
  width:76px;
  height:34px;
  color:#FFFFFF;
}
#u3062 {
  position:absolute;
  left:2px;
  top:9px;
  width:72px;
  word-wrap:break-word;
}
#u3063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:34px;
  background:inherit;
  background-color:rgba(227, 184, 6, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(119, 119, 119, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u3063 {
  position:absolute;
  left:0px;
  top:132px;
  width:86px;
  height:34px;
  color:#000000;
}
#u3064 {
  position:absolute;
  left:2px;
  top:9px;
  width:82px;
  word-wrap:break-word;
}
#u3065_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3065 {
  position:absolute;
  left:86px;
  top:132px;
  width:86px;
  height:34px;
  color:#FFFFFF;
}
#u3066 {
  position:absolute;
  left:2px;
  top:9px;
  width:82px;
  word-wrap:break-word;
}
#u3067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:79px;
}
#u3067 {
  position:absolute;
  left:732px;
  top:30px;
  width:83px;
  height:79px;
}
#u3068 {
  position:absolute;
  left:2px;
  top:32px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3069 {
  position:absolute;
  left:172px;
  top:132px;
  width:76px;
  height:34px;
  color:#FFFFFF;
}
#u3070 {
  position:absolute;
  left:2px;
  top:9px;
  width:72px;
  word-wrap:break-word;
}
#u3071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3071 {
  position:absolute;
  left:484px;
  top:132px;
  width:76px;
  height:34px;
  color:#FFFFFF;
}
#u3072 {
  position:absolute;
  left:2px;
  top:9px;
  width:72px;
  word-wrap:break-word;
}
#u3073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:31px;
  background:inherit;
  background-color:rgba(45, 48, 55, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3073 {
  position:absolute;
  left:26px;
  top:166px;
  width:189px;
  height:31px;
}
#u3074 {
  position:absolute;
  left:2px;
  top:8px;
  width:185px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:31px;
  background:inherit;
  background-color:rgba(38, 42, 50, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3075 {
  position:absolute;
  left:137px;
  top:166px;
  width:111px;
  height:31px;
}
#u3076 {
  position:absolute;
  left:2px;
  top:8px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:22px;
  background:inherit;
  background-color:rgba(42, 44, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3077 {
  position:absolute;
  left:248px;
  top:167px;
  width:50px;
  height:22px;
}
#u3078 {
  position:absolute;
  left:2px;
  top:3px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:231px;
}
#u3080 {
  position:absolute;
  left:850px;
  top:260px;
  width:57px;
  height:231px;
}
#u3081 {
  position:absolute;
  left:2px;
  top:108px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:40px;
}
#u3083 {
  position:absolute;
  left:508px;
  top:166px;
  width:397px;
  height:40px;
}
#u3084 {
  position:absolute;
  left:2px;
  top:12px;
  width:393px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:913px;
  height:439px;
}
#u3085 {
  position:absolute;
  left:0px;
  top:164px;
  width:913px;
  height:439px;
}
#u3086 {
  position:absolute;
  left:2px;
  top:212px;
  width:909px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
}
#u3087 {
  position:absolute;
  left:18px;
  top:265px;
  width:112px;
  height:30px;
}
#u3088 {
  position:absolute;
  left:2px;
  top:7px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3089_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:27px;
}
#u3089 {
  position:absolute;
  left:25px;
  top:311px;
  width:75px;
  height:27px;
}
#u3090 {
  position:absolute;
  left:2px;
  top:6px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3091_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:28px;
}
#u3091 {
  position:absolute;
  left:25px;
  top:357px;
  width:69px;
  height:28px;
}
#u3092 {
  position:absolute;
  left:2px;
  top:6px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:42px;
}
#u3093 {
  position:absolute;
  left:14px;
  top:166px;
  width:234px;
  height:42px;
}
#u3094 {
  position:absolute;
  left:2px;
  top:13px;
  width:230px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:913px;
  height:479px;
}
#u3095 {
  position:absolute;
  left:0px;
  top:164px;
  width:913px;
  height:479px;
}
#u3096 {
  position:absolute;
  left:2px;
  top:232px;
  width:909px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3097_div {
  position:absolute;
  left:0px;
  top:0px;
  width:404px;
  height:221px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3097 {
  position:absolute;
  left:67px;
  top:243px;
  width:404px;
  height:221px;
}
#u3098 {
  position:absolute;
  left:2px;
  top:102px;
  width:400px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3099_div {
  position:absolute;
  left:0px;
  top:0px;
  width:404px;
  height:221px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3099 {
  position:absolute;
  left:471px;
  top:245px;
  width:404px;
  height:221px;
}
#u3100 {
  position:absolute;
  left:2px;
  top:102px;
  width:400px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:40px;
  background:inherit;
  background-color:rgba(227, 184, 6, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3101 {
  position:absolute;
  left:358px;
  top:252px;
  width:189px;
  height:40px;
}
#u3102 {
  position:absolute;
  left:2px;
  top:12px;
  width:185px;
  word-wrap:break-word;
}
#u3103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:148px;
}
#u3103 {
  position:absolute;
  left:66px;
  top:305px;
  width:800px;
  height:148px;
}
#u3104 {
  position:absolute;
  left:2px;
  top:66px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3105_div {
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  height:221px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3105 {
  position:absolute;
  left:0px;
  top:477px;
  width:457px;
  height:221px;
}
#u3106 {
  position:absolute;
  left:2px;
  top:102px;
  width:453px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  height:221px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3107 {
  position:absolute;
  left:457px;
  top:479px;
  width:457px;
  height:221px;
}
#u3108 {
  position:absolute;
  left:2px;
  top:102px;
  width:453px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3109_div {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:40px;
  background:inherit;
  background-color:rgba(227, 184, 6, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3109 {
  position:absolute;
  left:362px;
  top:501px;
  width:189px;
  height:40px;
}
#u3110 {
  position:absolute;
  left:2px;
  top:12px;
  width:185px;
  word-wrap:break-word;
}
#u3111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:148px;
}
#u3111 {
  position:absolute;
  left:86px;
  top:547px;
  width:800px;
  height:148px;
}
#u3112 {
  position:absolute;
  left:2px;
  top:66px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:913px;
  height:150px;
}
#u3113 {
  position:absolute;
  left:0px;
  top:719px;
  width:913px;
  height:150px;
}
#u3114 {
  position:absolute;
  left:2px;
  top:67px;
  width:909px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3115_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3115 {
  position:absolute;
  left:556px;
  top:132px;
  width:76px;
  height:32px;
  color:#FFFFFF;
}
#u3115_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:32px;
  background:inherit;
  background-color:rgba(221, 168, 7, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3115.mouseOver {
}
#u3116 {
  position:absolute;
  left:2px;
  top:8px;
  width:72px;
  word-wrap:break-word;
}
#u3117_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3117 {
  position:absolute;
  left:416px;
  top:216px;
  width:70px;
  height:23px;
}
#u3118 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:42px;
}
#u3119 {
  position:absolute;
  left:0px;
  top:166px;
  width:148px;
  height:42px;
}
#u3120 {
  position:absolute;
  left:2px;
  top:13px;
  width:144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:907px;
  height:30px;
}
#u3122 {
  position:absolute;
  left:0px;
  top:0px;
  width:907px;
  height:30px;
}
#u3123 {
  position:absolute;
  left:2px;
  top:7px;
  width:903px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:24px;
}
#u3124 {
  position:absolute;
  left:624px;
  top:1px;
  width:112px;
  height:24px;
}
#u3125 {
  position:absolute;
  left:2px;
  top:4px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3126 {
  position:absolute;
  left:222px;
  top:206px;
  visibility:hidden;
}
#u3126_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u3126_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:431px;
  height:151px;
}
#u3127 {
  position:absolute;
  left:0px;
  top:0px;
  width:431px;
  height:151px;
}
#u3128 {
  position:absolute;
  left:2px;
  top:68px;
  width:427px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:32px;
}
#u3129 {
  position:absolute;
  left:388px;
  top:0px;
  width:43px;
  height:32px;
}
#u3130 {
  position:absolute;
  left:2px;
  top:8px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:23px;
}
#u3131 {
  position:absolute;
  left:108px;
  top:4px;
  width:64px;
  height:23px;
}
#u3132 {
  position:absolute;
  left:2px;
  top:4px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3133 {
  position:absolute;
  left:542px;
  top:25px;
  width:203px;
  height:190px;
  overflow:hidden;
  visibility:hidden;
}
#u3133_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:190px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3133_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:193px;
}
#u3134 {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:193px;
}
#u3135 {
  position:absolute;
  left:2px;
  top:88px;
  width:199px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:25px;
}
#u3136 {
  position:absolute;
  left:35px;
  top:34px;
  width:59px;
  height:25px;
}
#u3137 {
  position:absolute;
  left:2px;
  top:4px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:38px;
}
#u3138 {
  position:absolute;
  left:28px;
  top:69px;
  width:80px;
  height:38px;
}
#u3139 {
  position:absolute;
  left:2px;
  top:11px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3140_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:22px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3140 {
  position:absolute;
  left:35px;
  top:97px;
  width:69px;
  height:22px;
}
#u3141 {
  position:absolute;
  left:2px;
  top:3px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3142_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3142 {
  position:absolute;
  left:28px;
  top:98px;
  width:66px;
  height:22px;
  font-size:12px;
}
#u3143 {
  position:absolute;
  left:2px;
  top:4px;
  width:62px;
  word-wrap:break-word;
}
#u3144_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:58px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3144 {
  position:absolute;
  left:35px;
  top:129px;
  width:155px;
  height:58px;
}
#u3145 {
  position:absolute;
  left:2px;
  top:21px;
  width:151px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3146_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:27px;
  background:inherit;
  background-color:rgba(204, 153, 102, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3146 {
  position:absolute;
  left:28px;
  top:154px;
  width:114px;
  height:27px;
}
#u3147 {
  position:absolute;
  left:2px;
  top:6px;
  width:110px;
  word-wrap:break-word;
}
#u3148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:23px;
}
#u3148 {
  position:absolute;
  left:35px;
  top:116px;
  width:53px;
  height:23px;
}
#u3149 {
  position:absolute;
  left:2px;
  top:4px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3150_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:23px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3150 {
  position:absolute;
  left:31px;
  top:76px;
  width:59px;
  height:23px;
  font-size:12px;
}
#u3151 {
  position:absolute;
  left:2px;
  top:4px;
  width:55px;
  word-wrap:break-word;
}
#u3152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:18px;
}
#u3152 {
  position:absolute;
  left:33px;
  top:57px;
  width:55px;
  height:18px;
}
#u3153 {
  position:absolute;
  left:2px;
  top:1px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
