body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:909px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:907px;
  height:565px;
}
#u2133 {
  position:absolute;
  left:0px;
  top:30px;
  width:907px;
  height:565px;
  color:#FFFFFF;
}
#u2134 {
  position:absolute;
  left:2px;
  top:274px;
  width:903px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2135 {
  position:absolute;
  left:248px;
  top:132px;
  width:78px;
  height:34px;
  color:#FFFFFF;
}
#u2135_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:34px;
  background:inherit;
  background-color:rgba(221, 168, 7, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2135.mouseOver {
}
#u2136 {
  position:absolute;
  left:2px;
  top:9px;
  width:74px;
  word-wrap:break-word;
}
#u2137_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2137 {
  position:absolute;
  left:162px;
  top:132px;
  width:86px;
  height:34px;
  color:#FFFFFF;
}
#u2138 {
  position:absolute;
  left:2px;
  top:9px;
  width:82px;
  word-wrap:break-word;
}
#u2139_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2139 {
  position:absolute;
  left:326px;
  top:132px;
  width:82px;
  height:34px;
  color:#FFFFFF;
}
#u2140 {
  position:absolute;
  left:2px;
  top:9px;
  width:78px;
  word-wrap:break-word;
}
#u2141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2141 {
  position:absolute;
  left:408px;
  top:132px;
  width:76px;
  height:34px;
  color:#FFFFFF;
}
#u2141_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:34px;
  background:inherit;
  background-color:rgba(221, 168, 7, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2141.mouseOver {
}
#u2142 {
  position:absolute;
  left:2px;
  top:9px;
  width:72px;
  word-wrap:break-word;
}
#u2143_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:34px;
  background:inherit;
  background-color:rgba(221, 168, 7, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2143 {
  position:absolute;
  left:1px;
  top:132px;
  width:86px;
  height:34px;
}
#u2144 {
  position:absolute;
  left:2px;
  top:9px;
  width:82px;
  word-wrap:break-word;
}
#u2145_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2145 {
  position:absolute;
  left:86px;
  top:132px;
  width:86px;
  height:34px;
  color:#FFFFFF;
}
#u2145_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:34px;
  background:inherit;
  background-color:rgba(221, 168, 7, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2145.mouseOver {
}
#u2146 {
  position:absolute;
  left:2px;
  top:9px;
  width:82px;
  word-wrap:break-word;
}
#u2147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:79px;
}
#u2147 {
  position:absolute;
  left:732px;
  top:30px;
  width:83px;
  height:79px;
}
#u2148 {
  position:absolute;
  left:2px;
  top:32px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2149_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2149 {
  position:absolute;
  left:172px;
  top:132px;
  width:76px;
  height:34px;
  color:#FFFFFF;
}
#u2149_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:34px;
  background:inherit;
  background-color:rgba(221, 168, 7, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2149.mouseOver {
}
#u2150 {
  position:absolute;
  left:2px;
  top:9px;
  width:72px;
  word-wrap:break-word;
}
#u2151_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2151 {
  position:absolute;
  left:326px;
  top:132px;
  width:82px;
  height:34px;
  color:#FFFFFF;
}
#u2151_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:34px;
  background:inherit;
  background-color:rgba(221, 168, 7, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2151.mouseOver {
}
#u2152 {
  position:absolute;
  left:2px;
  top:9px;
  width:78px;
  word-wrap:break-word;
}
#u2153_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2153 {
  position:absolute;
  left:484px;
  top:132px;
  width:76px;
  height:34px;
  color:#FFFFFF;
}
#u2153_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:34px;
  background:inherit;
  background-color:rgba(221, 168, 7, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2153.mouseOver {
}
#u2154 {
  position:absolute;
  left:2px;
  top:9px;
  width:72px;
  word-wrap:break-word;
}
#u2155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:914px;
  height:429px;
}
#u2155 {
  position:absolute;
  left:-7px;
  top:166px;
  width:914px;
  height:429px;
}
#u2156 {
  position:absolute;
  left:2px;
  top:206px;
  width:910px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:907px;
  height:670px;
}
#u2157 {
  position:absolute;
  left:0px;
  top:596px;
  width:907px;
  height:670px;
}
#u2158 {
  position:absolute;
  left:2px;
  top:327px;
  width:903px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:907px;
  height:378px;
}
#u2159 {
  position:absolute;
  left:8px;
  top:1266px;
  width:907px;
  height:378px;
}
#u2160 {
  position:absolute;
  left:2px;
  top:181px;
  width:903px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2161 {
  position:absolute;
  left:192px;
  top:206px;
  visibility:hidden;
}
#u2161_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u2161_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:153px;
}
#u2162 {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:153px;
}
#u2163 {
  position:absolute;
  left:2px;
  top:68px;
  width:429px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:41px;
}
#u2164 {
  position:absolute;
  left:385px;
  top:1px;
  width:40px;
  height:41px;
}
#u2165 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:662px;
  height:322px;
}
#u2166 {
  position:absolute;
  left:254px;
  top:658px;
  width:662px;
  height:322px;
}
#u2167 {
  position:absolute;
  left:2px;
  top:153px;
  width:658px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2168_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:59px;
  background:inherit;
  background-color:rgba(247, 247, 247, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2168 {
  position:absolute;
  left:797px;
  top:1569px;
  width:108px;
  height:59px;
}
#u2169 {
  position:absolute;
  left:2px;
  top:22px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2170_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:41px;
  background:inherit;
  background-color:rgba(247, 247, 247, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2170 {
  position:absolute;
  left:599px;
  top:607px;
  width:300px;
  height:41px;
  font-size:16px;
}
#u2171 {
  position:absolute;
  left:2px;
  top:11px;
  width:296px;
  word-wrap:break-word;
}
#u2172_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:41px;
  background:inherit;
  background-color:rgba(247, 247, 247, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2172 {
  position:absolute;
  left:275px;
  top:607px;
  width:300px;
  height:41px;
}
#u2173 {
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2174_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:41px;
  background:inherit;
  background-color:rgba(247, 247, 247, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2174 {
  position:absolute;
  left:8px;
  top:607px;
  width:197px;
  height:41px;
}
#u2175 {
  position:absolute;
  left:2px;
  top:12px;
  width:193px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:44px;
}
#u2176 {
  position:absolute;
  left:25px;
  top:604px;
  width:256px;
  height:44px;
}
#u2177 {
  position:absolute;
  left:2px;
  top:14px;
  width:252px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2178 {
  position:absolute;
  left:0px;
  top:166px;
  width:907px;
  height:429px;
  overflow:hidden;
}
#u2178_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:907px;
  height:429px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2178_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2179_div {
  position:absolute;
  left:0px;
  top:0px;
  width:907px;
  height:429px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2179 {
  position:absolute;
  left:0px;
  top:0px;
  width:907px;
  height:429px;
}
#u2180 {
  position:absolute;
  left:2px;
  top:206px;
  width:903px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:907px;
  height:429px;
}
#u2181 {
  position:absolute;
  left:0px;
  top:0px;
  width:907px;
  height:429px;
}
#u2182 {
  position:absolute;
  left:2px;
  top:206px;
  width:903px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2183_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:59px;
  background:inherit;
  background-color:rgba(227, 184, 6, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u2183 {
  position:absolute;
  left:181px;
  top:185px;
  width:180px;
  height:59px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u2184 {
  position:absolute;
  left:2px;
  top:6px;
  width:176px;
  word-wrap:break-word;
}
#u2185_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:29px;
  background:inherit;
  background-color:rgba(45, 50, 55, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2185 {
  position:absolute;
  left:175px;
  top:0px;
  width:135px;
  height:29px;
}
#u2186 {
  position:absolute;
  left:2px;
  top:6px;
  width:131px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2178_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:907px;
  height:429px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2178_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:907px;
  height:429px;
}
#u2187 {
  position:absolute;
  left:0px;
  top:0px;
  width:907px;
  height:429px;
}
#u2188 {
  position:absolute;
  left:2px;
  top:206px;
  width:903px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2178_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:907px;
  height:429px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2178_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:907px;
  height:429px;
}
#u2189 {
  position:absolute;
  left:0px;
  top:0px;
  width:907px;
  height:429px;
}
#u2190 {
  position:absolute;
  left:2px;
  top:206px;
  width:903px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2178_state3 {
  position:absolute;
  left:0px;
  top:0px;
  width:907px;
  height:429px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2178_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:907px;
  height:429px;
}
#u2191 {
  position:absolute;
  left:0px;
  top:0px;
  width:907px;
  height:429px;
}
#u2192 {
  position:absolute;
  left:2px;
  top:206px;
  width:903px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:40px;
}
#u2194 {
  position:absolute;
  left:508px;
  top:166px;
  width:397px;
  height:40px;
}
#u2195 {
  position:absolute;
  left:2px;
  top:12px;
  width:393px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:231px;
}
#u2197 {
  position:absolute;
  left:850px;
  top:260px;
  width:57px;
  height:231px;
}
#u2198 {
  position:absolute;
  left:2px;
  top:108px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2199_div {
  position:absolute;
  left:0px;
  top:0px;
  width:907px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2199 {
  position:absolute;
  left:0px;
  top:0px;
  width:907px;
  height:30px;
}
#u2200 {
  position:absolute;
  left:2px;
  top:7px;
  width:903px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:23px;
}
#u2201 {
  position:absolute;
  left:562px;
  top:4px;
  width:271px;
  height:23px;
}
#u2202 {
  position:absolute;
  left:2px;
  top:4px;
  width:267px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:908px;
  height:295px;
}
#u2203 {
  position:absolute;
  left:0px;
  top:104px;
  width:908px;
  height:295px;
}
#u2204 {
  position:absolute;
  left:2px;
  top:140px;
  width:904px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:15px;
}
#u2205 {
  position:absolute;
  left:670px;
  top:215px;
  width:55px;
  height:15px;
}
#u2206 {
  position:absolute;
  left:2px;
  top:0px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:23px;
}
#u2207 {
  position:absolute;
  left:108px;
  top:3px;
  width:64px;
  height:23px;
}
#u2208 {
  position:absolute;
  left:2px;
  top:4px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:24px;
}
#u2209 {
  position:absolute;
  left:0px;
  top:2px;
  width:102px;
  height:24px;
}
#u2210 {
  position:absolute;
  left:2px;
  top:4px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:20px;
}
#u2211 {
  position:absolute;
  left:574px;
  top:7px;
  width:79px;
  height:20px;
}
#u2212 {
  position:absolute;
  left:2px;
  top:2px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:431px;
  height:151px;
}
#u2213 {
  position:absolute;
  left:229px;
  top:161px;
  width:431px;
  height:151px;
}
#u2214 {
  position:absolute;
  left:2px;
  top:68px;
  width:427px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:31px;
}
#u2215 {
  position:absolute;
  left:622px;
  top:164px;
  width:38px;
  height:31px;
}
#u2216 {
  position:absolute;
  left:2px;
  top:8px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2217_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2217 {
  position:absolute;
  left:554px;
  top:132px;
  width:76px;
  height:34px;
  color:#FFFFFF;
}
#u2217_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:34px;
  background:inherit;
  background-color:rgba(221, 168, 7, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2217.mouseOver {
}
#u2218 {
  position:absolute;
  left:2px;
  top:9px;
  width:72px;
  word-wrap:break-word;
}
#u2219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:565px;
  height:295px;
}
#u2219 {
  position:absolute;
  left:164px;
  top:102px;
  width:565px;
  height:295px;
}
#u2220 {
  position:absolute;
  left:2px;
  top:140px;
  width:561px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:32px;
}
#u2221 {
  position:absolute;
  left:552px;
  top:330px;
  width:153px;
  height:32px;
}
#u2222 {
  position:absolute;
  left:2px;
  top:8px;
  width:149px;
  visibility:hidden;
  word-wrap:break-word;
}
